.comingsoon-page {
    flex: 1;
    padding-top: 20px;
    color: var(--font-highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    &__title {
        font-size: 24px;
    }
}
