.modal {
    &__icon {
        svg {
            font-size: 30px;
            display: block;
            margin: auto;
            color: var(--font-highlight);
        }
    }

    &__icon-failure {
        svg {
            color: #fb6b25;
        }
    }

    &__icon-success {
        svg {
            color: #4ecc48;
        }
    }

    .modal-content {
        max-width: 450px;

        .box {
            background-color: var(--primary);

            .text-content {
                margin-top: 20px;
                text-align: center;
                color: var(--font-highlight);
                overflow: auto;
            }

            .modal-buttons {
                text-align: center;
                margin-top: 20px;

                .tosi-button {
                    min-width: 80px;
                }
            }

            .modal-footer {
                justify-content: center !important;
            }
        }
    }

    &.text-modal {
        z-index: 50 !important;
    }
}
