.modal {
    .modal-icon {
        font-size: 50px;

        svg {
            display: block;
            margin: auto;
        }
    }

    .text-content {
        margin-top: 20px;
        text-align: center;
    }

    .modal-buttons {
        text-align: center;
        margin-top: 20px;

        .is-background {
            background-color: var(--primary);
            border: 0;
        }
    }

    .modal-footer {
        justify-content: center !important;
    }
}