@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.line-gradient {
  background: linear-gradient(to right, #3b64de, #5a7cc7);
}

.progress-color::-webkit-progress-value {
  background-color: #1eff6a;
  border-radius: 1rem;
}

.progress-color::-webkit-progress-bar {
  background-color: #000000;
}
