@import "//fonts.cdnfonts.com/css/avenir-next-cyr";
@import "./variables.scss";

* {
    font-family: $avenir-font-medium;
    margin: 0px;
    outline: none;
}

html {
    font-size: 14px;
}

html,
body,
#root,
.body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

strong {
    color: inherit;
}

.body {
    background: var(--body-background);
    overflow-x: hidden;
}

.tosi-button {
    background: var(--gradient-button-default);
    background: var(--gradient-button);
    color: var(--font-highlight);
    cursor: pointer;

    &:hover {
        background: var(--gradient-button-hover-default);
        background: var(--gradient-button-hover);
    }

    &:disabled {
        background: var(--gradient-button-disabled) !important;
        cursor: initial;
        opacity: 0.8;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.premium {
    color: #ffd700;
}

.tooltip {
    background: var(--font-highlight);
    color: var(--primary);
}

.tooltip-activator {
    position: relative;
    cursor: pointer;

    &:hover .tooltip {
        visibility: visible;
    }
}

.text {
    color: var(--font-highlight);
}

.text-failure {
    color: #fb6b25;
}

.text-success {
    color: #4ecc48;
}

.text-inactive {
    color: var(--font-inactive-color);
}

.text-twitter {
    color: #1c9deb;
}

.text-discord {
    color: #6f85d4;
}

.text-telegram {
    color: #2ca0db;
}

.background {
    background-color: var(--primary);
}

.border-color {
    border-color: var(--font-highlight);
}

.layover {
    background: hsla(0, 0%, 4%, 0.86);
}

input {
    &:disabled {
        background: var(--input-disabled);
    }
}
