@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "//fonts.cdnfonts.com/css/avenir-next-cyr";

@import "./variables.scss";

@import "../node_modules/bulma/sass/utilities/derived-variables";

@import "../node_modules/bulma/bulma";

* {
    font-family: $avenir-font-medium;
    font-size: 14px;
    margin: 0px;
}

html,
body,
#root,
.body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

strong {
    color: inherit;
}

.body {
    background: var(--body-background);
    overflow-x: hidden;
    padding: 20px;
}

.tosi-button {
    background: var(--gradient-button-default);
    background: var(--gradient-button);
    height: 40px;
    box-shadow: none;
    border: 0;
    border-radius: 10px;
    color: var(--font-highlight);
    font-size: 15px;
    cursor: pointer;
    font-family: inherit;

    &:hover {
        background: var(--gradient-button-hover-default);
        background: var(--gradient-button-hover);
    }

    &:disabled {
        background: var(--gradient-button-disabled) !important;
        cursor: initial;
        opacity: 0.8;
    }
}

.tosi-cancel-button {
    background: transparent;
    height: 40px;
    box-shadow: none;
    border: 1px solid var(--gradient-button-default);
    border-radius: 10px;
    color: var(--font-highlight);
    font-size: 15px;
    cursor: pointer;
    -moz-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    -webkit-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

.transparent-input {
    font-family: inherit;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--font-inactive-color);
    height: 30px;
    color: var(--font-highlight);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
