.wallet-modal {
    .box {
        display: flex;
        flex-direction: column;

        .wallet-modal-head {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .wallet-text-content {
                flex: 1;
                font-size: 16px;
                color: var(--font-highlight);
            }

            .wallet-modal-buttons {
                .is-wallet-background {
                    color: var(--font-highlight);
                    background-color: var(--primary);
                    border: 0;
                }
            }
        }

        .wallet-modal-body {
            border: 1px solid var(--font-inactive-color);
            border-radius: 8px;

            .wallet-modal-body-row {
                display: flex;
                align-items: center;
                height: 50px;
                padding: 10px;
                cursor: pointer;
                border-radius: 7px;
                border-bottom: 1px solid var(--font-inactive-color);
                color: var(--font-highlight);

                &:first-child {
                    border-radius: 7px 7px 0px 0px;
                }

                &:last-child {
                    border-bottom: 0;
                    border-radius: 0px 0px 7px 7px;
                }

                &:hover {
                    background-color: var(--tooltip-background);
                    color: var(--tooltip-font-color);
                    font-weight: 600;
                }

                &.hidden {
                    display: none;
                }

                p {
                    padding-left: 10px;
                    flex: 1;
                }

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
