.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 10;

    &__layer {
        width: 100vw;
        height: 100vh;
        background-color: gray;
        transition: 0.25s;

        &-hidden {
            opacity: 0;
            visibility: hidden;
        }

        &-visible {
            opacity: 0.5;
            visibility: visible;
        }
    }

    &__container {
        width: 250px;
        background-color: gray;
        background-color: var(--primary);
        position: absolute;
        top: 0;
        left: -250px;
        height: 100vh;
        color: var(--font-highlight);
        z-index: 10;
        padding: 20px;
        transition: 0.25s;
    }

    &__container-hidden {
        transform: translateX(0);
    }

    &__container-visible {
        transform: translateX(250px);
    }

    &__list-item {
        color: var(--font-inactive-color);
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &__list-selected {
        color: var(--font-highlight);
    }

    a:hover {
        color: inherit;
    }

    &__social {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        svg {
            height: 20px;
        }
        .fa-twitter {
            color: #1c9deb;
        }
        .fa-discord {
            color: #6f85d4;
        }
        .fa-telegram {
            color: #2ca0db;
        }
        .fa-github {
            color: var(--font-inactive-color);
        }
    }
}

@media screen and (min-width: 1024px) {
    .mobile-menu {
        display: none;
    }
}
