@import "../variables.scss";

.rewards {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 270px;
    flex: 1;
    padding-top: 20px;
    color: var(--font-highlight);

    h1 {
        font-size: 24px;
        color: var(--font-highlight);
    }

    .content-reward {
        padding: 23px 30px;
        border-radius: 20px;
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        &.check {

            .transparent-input {
                margin-top: 15px;
            }

            p {
                font-size: 15px;
                flex: 1;
            }

            .content-button {
                display: flex;

                .tosi-button {
                    flex: 1;
                    margin-top: 20px;
                    max-width: 350px;
                }

                .tosi-cancel-button {
                    margin-top: 20px;
                    margin-left: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 0px 10px;

                    .tosi-cancel-icon {
                        display: inline-block;

                        svg {
                            font-size: 16px;
                        }
                    }

                    .tosi-cancel-text {
                        display: inline-block;
                        width: 50%;
                    }
                }

                .loading {
                    margin-top: 28px;
                    margin-left: 15px;

                    span {
                        display: block;
                    }
                }
            }
        }

        &.staked {
            flex-direction: row;

            .pool-logo {
                margin-right: 10px;
                width: 40px;
                height: 40px;
            }

            .pool-info {
                display: flex;
                align-items: center;
                width: 95%;

                .staking-info {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    .no-break {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        flex: 1;
                    }

                    .no-break-mobile {
                        display: none;
                    }
                }
            }
        }

        &.claim {
            flex-direction: row;

            .text {
                flex: 1;
                display: flex;
                align-items: center;
            }

            .tosi-button {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 0px 10px;                    

                .down-arrow {
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;    
                    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 33 34' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.875 23.207V29.3945H4.125V23.207H0V29.3945C0 31.6633 1.85625 33.5195 4.125 33.5195H28.875C31.1437 33.5195 33 31.6633 33 29.3945V23.207H28.875ZM26.8125 14.957L23.9044 12.0489L18.5625 17.3702V0.519531H14.4375V17.3702L9.09562 12.0489L6.1875 14.957L16.5 25.2695L26.8125 14.957Z' fill='black'/%3E%3C/svg%3E%0A");
                    mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 33 34' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.875 23.207V29.3945H4.125V23.207H0V29.3945C0 31.6633 1.85625 33.5195 4.125 33.5195H28.875C31.1437 33.5195 33 31.6633 33 29.3945V23.207H28.875ZM26.8125 14.957L23.9044 12.0489L18.5625 17.3702V0.519531H14.4375V17.3702L9.09562 12.0489L6.1875 14.957L16.5 25.2695L26.8125 14.957Z' fill='black'/%3E%3C/svg%3E%0A");
                    background-color: var(--font-highlight);
                }
            }
        }

        &.claim-status-head {
            border-radius: 20px 20px 0px 0px;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid var(--font-inactive-color);
            margin-bottom: 0px;

            .payment-status {
                margin-left: 30px;
                color: var(--font-inactive-color);
                font-family: $avenir-font-light;
            }
        }

        &.claim-status-body {
            border-radius: 0px 0px 20px 20px;
            display: flex;
            margin-top: 0px;
            align-items: center;
            gap: 20px;

            .icon-input {
                position: relative;
                border: 1px solid var(--font-inactive-color);
                border-radius: 5px;
                width: 100%;

                .tooltip-icon {
                    position: absolute;
                    top: -40px;
                    background-color: var(--tooltip-background);
                    color: var(--font-highlight);
                    padding: 5px;
                    font-size: 12px;
                    border-radius: 8px;
                    left: -30px;
                    visibility: visible;
                    opacity: 1;
                    transition: all 1s cubic-bezier(0.335, 0.010, 0.030, 1.360);

                    &.hidden {
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                .icon {
                    height: 1.5rem;
                    width: 2.5rem;
                    ;
                    position: absolute;
                    top: 3px;
                    cursor: pointer;

                    svg {
                        color: var(--font-inactive-color);
                    }
                }

                .transparent-input {
                    border: 0;
                    padding-left: 2.5rem;
                    width: 100%;
                    cursor: text;
                    color: var(--font-inactive-color);
                }
            }

            .qr-address {
                width: 180px;
                height: 180px;
            }

            .complete-info {
                font-family: $avenir-font-light;
            }

            .tosi-button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                min-width: 150px;
            }

            .complete-send-info {
                font-family: $avenir-font-light;
                color: var(--font-warn);
            }
        }

        &.tx-details-head {
            border-radius: 20px 20px 0px 0px;
            border-bottom: 1px solid var(--font-inactive-color);
            margin-bottom: 0px;
        }

        &.tx-details-body {
            border-radius: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            border-bottom: 1px solid var(--font-inactive-color);
            padding: 10px 16px;
            text-align: end;
            display: flex;
            flex-direction: row;

            &.small-body {
                border-bottom: 0px;
                padding: 0px 16px;
            }

            &.small-body-last {
                padding: 0px 16px;
            }

            div:first-child {
                flex: 6;
            }

            div:last-child {
                flex: inherit;
                font-family: $avenir-font-light;
                width: 110px;
            }
        }

        &.tx-details-footer {
            border-radius: 0px 0px 20px 20px;
            margin-top: 0px;
            padding: 10px 16px;
            text-align: end;
            display: flex;
            flex-direction: row;

            .deposit-info {
                color: var(--font-warn);
                font-size: 0.875em;
                font-weight: 600;
            }

            div:first-child {
                flex: 6;
            }

            div:last-child {
                flex: 1;
                font-family: $avenir-font-light;
            }
        }
    }

    .staking-info {
        max-height: 1000px;
        display: flex;
        flex-direction: column;
    }

    .claim-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;

        .claim-item {
            padding: 14px 18px;
            border-radius: 20px;
            background-color: var(--primary);
            display: flex;
            flex-direction: column;
            min-width: 300px;

            .selection {
                label {
                    font-size: 12px;  
                    display: flex;
                    align-items: center;
                    color: var(--font-highlight);              
                }

                input {
                    margin-right: 10px;
                }
            }

            .token-info {
                margin-top: 20px;
                text-align: center;
                color: var(--font-highlight);

                img {
                    width: 80px;
                }

                button {
                    margin-top: 20px;
                }
            }

            .tosi-button {
                flex: 1;
                width: 100%;
                align-items: center;
                padding: 0px 10px;
                margin-top: 10px;
            }
        }
    }
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1024px) {
    .rewards {
        margin-right: 0;
        margin-left: 0;

        .content-reward {
            padding: 14px 18px !important;
        }

        .pool-info {
            align-items: start !important;

            .staking-info {
                display: block !important;

                .no-break {
                    display: none !important;
                }

                .no-break-mobile {
                    display: inline-flex !important;
                }
            }
        }

        .claim-item {
            width: 100%;
        }

        .token-drop {
            display: flex;

            .token-info {
                display: flex;
                align-items: center;
                gap: 10px;
                flex: 1;

                img {
                    width: 40px !important;
                }

                button {
                    margin-top: 0;
                }
            }

            .tosi-button {
                max-width: 130px;
            }
        }
    }
}