@import "../../variables.scss";

.type-buttons {
    background-color: var(--primary);
    padding: 5px;
    border-radius: 8px;
    height: 45px;
    display: flex;

    div {
        width: 100px;
        height: 35px;
        border-radius: 6px;
        border: 0px;
        color: var(--font-inactive-color);
        font-weight: 500;
        cursor: pointer;
        justify-content: center;
        padding-bottom: calc(0.5em - 1px);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: calc(0.5em - 1px);
        text-align: center;
        white-space: nowrap;

        &.is-selected {
            background: var(--gradient-button-default);
            background: var(--gradient-button);
            color: var(--font-highlight);
        }
        
        &:not(.is-selected):hover {
            background: var(--primary-hover);
            color: var(--font-highlight);
        }
    }
}


@media screen and (max-width: 1024px) {
    .type-buttons {
        border: 1px solid var(--font-inactive-color);
    }
}