@import "../variables.scss";

$slide-bg: #030b13;

.header {
    height: 120px;
    padding-top: 30px;
    flex-direction: row !important;
    display: flex;

    .title {
        font-size: 1.8rem;
        font-weight: 500;
        color: white;
        display: flex;
        min-width: 360px;
    
        .logo {
            position: relative;
            width: 50px;
            height: 50px;
        }
    
        .title-text {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
        }

        .spacer {
            flex: 1;
            max-width: 30px;
        }

        .buttons {
            background-color: $background;
            padding: 5px;
            border-radius: 15px;
            height: 45px;

            .button {
                width: 100px;
                height: 35px;
                border-radius: 10px;
                background-color: $background;
                border: 0px;
                color: $font-inactive-color;
                font-weight: 500;

                &.is-selected {
                    background: $gradient-button-default;
                    background: $gradient-button;
                    color: $font-highlight;
                }
            }
        }
    }

    .buttons.last {
        text-align: end;
        min-width: 185px;

        .button {
            color: $font-highlight;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding-top: 5px;
        
        .title-text {
            display: none !important;
        }
    }
}