@import "../variables.scss";

$slide-bg: #030b13;

.header {
    display: flex;
    align-items: center;

    .header-title {
        font-size: 1.8rem;
        font-weight: 500;
        color: white;
        display: flex;
        min-width: 360px;
        flex: 1;
        align-items: center;
    
        .logo {
            position: relative;
            width: 50px;
            height: 50px;
        }
    
        .title-text {
            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
        }

        .type-buttons {
            background-color: $background;
            padding: 5px;
            border-radius: 15px;
            height: 45px;
            margin-left: 20px;

            .button {
                width: 100px;
                height: 35px;
                border-radius: 10px;
                background-color: $background;
                border: 0px;
                color: $font-inactive-color;
                font-weight: 500;

                &.is-selected {
                    background: $gradient-button-default;
                    background: $gradient-button;
                    color: $font-highlight;
                }
            }
        }

        .header-filler {
            flex: 1;
        }
    }

    .last {
        text-align: end;
        display: flex;
        gap: 10px;
        padding-right: 30px;

        .button {
            color: $font-highlight;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding-top: 5px;
        
        .header-title {
            min-width: inherit;

            .last {
                order: 0;
                padding-right: 0;
            
                .light-button {
                    display: none;
                }
            }

            .type-buttons {
                order: 1;
                margin-left: 10px;
            }

            .header-filler {
                order: 2;
            }
    
            .logo-container {
                order: 3;
            }

            .title-text {
                display: none !important;
            }
        }
    }
}