@import "../variables.scss";

$fa-twitter: #55acee;

.menu-container {
    position: fixed;
    top: 200px;
    left: 40px;

    .menu {
        display: flex;

        .menu-content {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 20px;
            background-color: var(--primary);
            min-width: 210px;
            flex: 5;

            .menu-type-buttons {
                display: none;
            }

            hr {
                border: 0;
                border-top: 1px solid var(--font-inactive-color);
                width: 88%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 1px;
                margin-bottom: 1px;
                height: 1px;
            }

            .menu-list li a {
                color: var(--font-inactive-color);
                border-radius: 10px;
                height: 46px;
                font-size: 14px;
                font-weight: 600;
                display: flex;
                align-items: center;
            }

            .menu-list li .menu-list-selected {
                color: var(--font-highlight);
            }

            .menu-list li {
                a.selected,
                a:hover {
                    background-color: var(--hover-color);
                    color: var(--font-highlight);
                }
            }

            .menu-filler {
                display: none;
            }

            .social {
                text-align: center;
                * {
                    margin: 5px;
                    &.fa-twitter {
                        color: #1c9deb;
                    }
                    &.fa-discord {
                        color: #6f85d4;
                    }
                    &.fa-telegram {
                        color: #2ca0db;
                    }
                    &.fa-github {
                        color: var(--font-inactive-color);
                    }
                }
            }
        }
    }
}

.gray-layer {
    display: none;
}

/*
 * use mobile menu 
 * for <1024px screen
 */

@media screen and (max-width: 1024px) {
    .menu-container {
        visibility: hidden;
    }
}
