@import "../variables.scss";

$fa-twitter: #55acee;

.menu-container {
    position: fixed;
    top: 200px;
    left: 40px;

    .menu {
        display: flex;
    
        .menu-content {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 20px;
            background-color: $background;
            min-width: 210px;
            flex: 5;
                
            hr {
                border: 0;
                border-top: 1px solid $font-inactive-color;
                width: 88%;
                position: relative;
                left: 50%; 
                transform: translateX(-50%);
                margin-top: 1px;
                margin-bottom: 1px;
                height: 1px;
            }
    
            .menu-list li a {
                color: $font-inactive-color;
                border-radius: 10px;
                height: 46px;
                font-size: 14px;
                font-weight: 600;
                display: flex;
                align-items: center;
            }
    
            .menu-list li {
                a.selected, a:hover {
                    background-color: $primary;
                    color: $font-highlight;
                }
            }

            .menu-filler {
                display: none;
            }
    
            .social {
                text-align: center;
                * {
                    margin: 5px;
                    &.fa-twitter {
                        color: #1C9DEB;
                    }
                    &.fa-discord { 
                        color: #6F85D4; 
                    }
                    &.fa-telegram { 
                        color: #2CA0DB; 
                    }
                    &.fa-github { 
                        color: $font-inactive-color; 
                    }
                }
            }
        }
    }
}

.gray-layer {
    display: none;
}

@media screen and (max-width: 1024px) {
    .menu-container {
        padding: 0;
        width: 280px;
        height: 100vh;
        background-color: $background;
        top: 0;
        left: 0;
        z-index: 2;

        &.menu-hidden {
            display: none;
        }

        .menu {
            height: 100%;

            .menu-content {
                border-radius: 0;
                display: flex;
                flex-direction: column;
            }
        }

        .menu-list {
            display: flex;
            list-style-type: none;
            margin: 0;
            overflow: hidden;
            flex-direction: column;
            gap: 10px;
            padding: 30px 0;

            li {
                flex: 1;
                text-align: left;

                a {
                    display: inline-flex;
                    align-items: center;
                    height: 20px !important;
                }
            }

            hr {
                display: none;
            }
        }

        .menu-filler {
            display: flex !important;
            flex: 1;
        }
    }

    .gray-layer {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: gray;
        opacity: 0.5;
        z-index: 1;

        &.layer-hidden {
            display: none;
        }
    }
}
    