.page {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 270px;
    flex: 1;
    padding-top: 20px;
    color: var(--font-highlight);
}

@media screen and (max-width: 1024px) {
    .page {
        margin-right: 0;
        margin-left: 0;
    }
}
