.transaction-detail {
    &__title {
        margin-bottom: 10px;
    }

    &__row {
        border-bottom: 1px solid var(--font-highlight);
        display: flex;
        flex-direction: row-reverse;
        padding: 5px 0;

        & > div:first-child {
            min-width: 100px;
            text-align: right;
        }
    }

    &__row:last-child {
        border-bottom: none;
        padding-bottom: 0px;
    }

    &__warning {
        color: var(--font-warn);
    }
}

@media screen and (max-width: 1024px) {
    .transaction-detail {
        padding: 14px 18px !important;
    }
}
