.feedback-page {
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    flex: 1;
    padding-top: 20px;
    color: var(--font-highlight);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 24px;
        color: var(--font-highlight);
        margin-bottom: 10px;
    }
    &__content {
        border-radius: 20px;
        background-color: var(--primary);
        padding: 30px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.16);
        width: 100%;
        max-width: 500px;
    }

    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: inherit;
        }
    }

    &__content-btn {
        font-size: 1rem;
        border-radius: 10px;
        background: var(--gradient-button);
        padding: 20px;
        transition: 0.2s;
        margin-bottom: 15px;
        text-align: center;
        &:hover {
            transform: scale(1.01);
        }
    }

    &__content-btn-last {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1024px) {
    .feedback-page {
        margin-top: 20px;
        margin-right: 0;
        margin-left: 0;
    }
}
