.transaction-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__button {
        font-size: 1rem;
        border-radius: 10px;
        border: none;
        padding: 5px 10px;
        background: var(--gradient-button);
        color: inherit;
        text-align: center;
        cursor: pointer;
    }
}
