.transaction-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--font-highlight);

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  &__button {
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 0.8rem;
    background: var(--gradient-button);
    color: inherit;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
  }
}
