@import "../../variables.scss";

.wallet-selector-container {
    position: relative;

    .wallet-menu {
        position: absolute;
        top: 40px;
        left: 0px;
        border-top: 1px solid var(--font-inactive-color);
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 15px;
            color: var(--font-highlight);
            cursor: pointer;
            background-color: var(--primary);

            &:hover {
                background-color: var(--primary-hover);
            }
        }
    }
}

.wallet-selector {
    background-color: var(--primary);
    border-radius: 4px;
    font-size: 1rem;
    height: 2.5em;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-hover);
    }

    .wallet-connected {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0px 15px;
        height: 100%;
        align-items: center;
        position: relative;
        color: var(--font-highlight);

        .wallet-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            & > *:first-child {
                margin-left: 10px;
            }
        }

        .wallet-icon {
            width: 20px;
            height: 20px;
        }

        .wallet-addr {
            color: var(--font-highlight);
        }
    }

    .wallet-not-connected {
        padding: 0px 15px;
        height: 100%;
        display: flex;
        align-items: center;

        p {
            color: var(--font-highlight);
        }
    }

    .wallet-wrong {
        padding: 0px 15px;
        height: 100%;
        display: flex;
        align-items: center;

        p {
            color: var(--font-warn);
        }

        &.hidden {
            visibility: hidden;
        }
    }
}