@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "http://fonts.cdnfonts.com/css/avenir-next-cyr";

@import "./variables.scss";

@import "../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
    "background":($background, $background-invert),
    "background-button": ($background-button, $background-button-invert)
);
$colors: map-merge($colors, $addColors);

@import "../node_modules/bulma/bulma";

* {
    font-family: 'Avenir Next Cyr Medium', sans-serif;
    font-size: 14px;
}

#root {
    margin: 0px;
    background: #0a3169;
    background: radial-gradient(circle, #0a3169 0%, #20426d 100%);
}

body {
    background: radial-gradient(circle, #0a3169 0%, #20426d 100%);
}

.tosi-button {
    background: $gradient-button-default;
    background: $gradient-button;
    height: 40px;
    box-shadow: none;
    border: 0;
    border-radius: 10px;
    color: $font-highlight;
    font-weight: 600;
    font-size: 15px;
}

.body {
    color: white;
}