.airdrop-page {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 270px;
    flex: 1;
    padding-top: 20px;
    color: var(--font-highlight);
    // width: 100%;
    // max-width: 600px;

    & > * {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 24px;
        color: var(--font-highlight);
        margin-bottom: 10px;
    }

    &__content {
        border-radius: 20px;
        background-color: var(--primary);
        padding: 20px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.16);
        width: 100%;
    }

    &__dropdown {
        background: var(--gradient-button);
        border-radius: 10px;
        flex: 1;
        margin-right: 5px;
        .btn-primary {
            font-size: 1rem;
            color: inherit;
            box-shadow: unset !important;
            width: 100%;
            text-align: center;
            height: 100%;
            border-radius: 10px;
            background-color: unset !important;
            border-color: unset !important;
            border: none !important;
        }
        .dropdown-menu {
            border-radius: 10px;
            width: 100%;
        }
    }

    &__button {
        font-size: 1rem;
        border-radius: 10px;
        border: none;
        padding: 10px;
        background: var(--gradient-button);
        color: inherit;
        flex: 1;
        margin-left: 5px;
    }

    &__button-airdrop {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    &__select {
        display: flex;
    }

    &__detail-row {
        margin-bottom: 10px;
    }

    &__address-list {
        overflow: auto;
        height: 200px;
        & > div {
            border-bottom: 1px solid var(--font-highlight);
            padding: 5px 0;
        }
    }
}
