.airdrop-page {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 270px;
    flex: 1;
    padding-top: 20px;
    color: var(--font-highlight);

    & > * {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 24px;
        color: var(--font-highlight);
        margin-bottom: 10px;
    }

    &__content {
        border-radius: 20px;
        background-color: var(--primary);
        padding: 20px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.16);
        width: 100%;
    }

    &__button {
        font-size: 1rem;
        border-radius: 10px;
        border: none;
        padding: 10px;
        background: var(--gradient-button);
        color: inherit;
        text-align: center;
    }

    &__button-airdrop {
        margin-left: 50%;
        transform: translateX(-50%);
        font-family: inherit;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.13);
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
    }

    &__select {
        display: flex;

        label {
            flex: 1;
            margin-left: 5px;
            cursor: pointer;
        }
    }

    &__detail-row {
        margin-bottom: 10px;
    }

    &__address-list {
        overflow: auto;
        height: 200px;
    }

    &__address-list-address {
        border-bottom: 1px solid var(--font-highlight);
        padding: 5px 0;
        &:last-child {
            border-bottom: none;
        }
    }

    &__address-list-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 10px;

        & > h1 {
            margin-bottom: 0;
        }

        & > span {
            margin-left: 10px;
            font-style: italic;
            font-size: 0.8rem;
            opacity: 0.8;
        }
    }
}
