name: Ansible CI

on:
  pull_request:
    branches: [ master ]
    paths: [ 'ansible/**','runme.sh','.github/workflows/ci-ansible.yml' ]

jobs:
  ansible:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ansible/ansible-lint@v25.12.0
        with:
          args: "ansible"
      - run: 'echo "VM_TOKEN=foo" > .env'
      - run: 'bash ./runme.sh'
