name: JavaScript CI

on:
  pull_request:
    branches: [ master ]
    paths: [ 'client/**','server/**', 'src/**','*.ts','*.json','.github/workflows/ci-js.yml' ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x, 23.x]
        target: [client, server]
    steps:
      - uses: actions/checkout@v6.0.2
      - name: install node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
        working-directory: ${{ matrix.target }}
      - run: npm run build --if-present
        env:
          CI: false
        working-directory: ${{ matrix.target }}
      - run: npm test
        working-directory: ${{ matrix.target }}
